// Related posts

.related {
  margin-top:2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
	
  h2{
    color: $link-color;
    font-family: $font-family;
  }
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: $font-size;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
    	color: $text-color;
      }
    }
  }
}

//Custom count words

.small_gray{
    	color: #abb2b2;
        font-size: $font-size .7;
} 
