.site-footer {
    border-top: 3px solid $brand-color;
    padding: $margin/2 0;
    color: lighten($text-color, 30%);
    text-align: center;
    font-size: 0.9em;

    /*Modificaciones para agregar iconos @reoxb */
   ul.icons {
        @extend .clearfix;
        list-style: none;
        li {
            border: none;
            font-size: 1.8em;
	    display: inline;
	    margin: 0 auto;
            margin-bottom: 0;
            a {
                padding: 0;
            }
        }
    }
}
